* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #E0D4CA;
  --dark-blue: #314250;
  --button: #4F687B;
  --light: #ffffff;
}

@font-face {
  font-family: "Ruge Boogie";
  src: url('../fonts/Ruge_Boogie/RugeBoogie-Regular.ttf');
}

nav {
  background-color: var(--primary-color);
}

.brand {
  font-family: "Ruge Boogie";
}

.book-background {
  background-image: url(../img/bg-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  padding-top: 60px;
}

.main-title {
  font-size: 64px;
  margin: auto;
  text-align: center;
  width: 275px;
}

.nav-link,
.nav-link.active {
  color: var(--dark-blue);
}

.nav-link {
  opacity: .8;
}

.button-container .btn {
  background-color: var(--button);
  border-radius: 15px;
  color: var(--light);
  height: 40px;
  margin: auto;
  width: 180px;
}

/* SECTION  */
.books-section {
  padding: 65px 30px;
}

.books-section .cards-container .row {
  justify-content: space-between;
  max-width: 100%;
}

.subtitle {
  color: var(--dark-blue);
}

.card {
  box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.25);
  height: 60px;
  max-width: 540px;
}

.card .row>div {
  height: 100%;
}

.card .image-container {
  text-align: center;
}

.card-body {
  height: 100%;
  padding: 10px 0 0;
}

.card-image {
  height: 100%;
  object-fit: cover;
}

.card-title-container {
  background-color: var(--primary-color);
  color: #333333;
  padding: 8px;
}

.card-title {
  font-size: 12px;
}

.card-button,
.btn:hover {
  background-color: var(--primary-color);
  border: 1px solid #AEA399;
  /* border-radius: 15px; */

  border-radius: 50%;
  color: var(--dark-blue);
  font-size: 14px;
  height: 40px;
  margin: auto;
  /* width: 100px; */
  width: 40px;
}

.btn:hover {
  opacity: .7;
}


/* FOOTER */

.footer {
  background-color: var(--primary-color);
  height: 177px;
}

.footer ul {
  list-style-type: none;
}

.footer .list-item {
  color: var(--dark-blue);
}

.btnToTop {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (min-width: 768px) and (max-width: 1680px) {
  .books-section .cards-container>.row {
    max-width: 80%;
  }
}